# Python
__pycache__/
*.pyc

# Base de datos
db.sqlite3

# Entornos virtuales
venv/
env/
.venv/
backend/.venv/

# Archivos del sistema
.DS_Store

# Variables de entorno
.env
*.env
firebase-*.json
.env.local
.env.*.local
