# Ejemplo de variables de entorno para Django
# Copia este archivo a backend/.env y completa con tus datos reales.

DEBUG=False
SECRET_KEY=tu-clave-secreta-muy-larga-y-aleatoria
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://postgres:tu_password@efjkbvqfzcpniejlkj.supabase.co:5432/postgres?sslmode=require
CORS_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
